# --- Postgres (chatbot) ---
POSTGRES_CHAT_DB=
POSTGRES_CHAT_USER=
POSTGRES_CHAT_PASSWORD=

# --- Postgres (User) ---
POSTGRES_USER_DB=
POSTGRES_USER=
POSTGRES_USER_PASSWORD=

# --- Postgres (RAG) ---
POSTGRES_RAG_HOST=
POSTGRES_RAG_DB=
POSTGRES_RAG_USER=
POSTGRES_RAG_PASSWORD=
RAG_INTERNAL_KEY=

# --- Postgres (Keycloak) ---
KEYCLOAK_HOST=
KEYCLOAK_DB=
KEYCLOAK_DB_USER=
KEYCLOAK_DB_PASSWORD=

# --- Keycloak admin ---
KEYCLOAK_ADMIN=
KEYCLOAK_ADMIN_PASSWORD=
KEYCLOAK_REALM=
KEYCLOAK_CLIENT_ID=
KEYCLOAK_PUBLIC_URL=
APP_PUBLIC_URL=

# --- Spring Boot ---
CHAT_DB_HOST=
CHAT_DB_PORT=
CHAT_DB_NAME=
CHAT_DB_USER=
CHAT_DB_PASSWORD=

USER_DB_HOST=
USER_DB_PORT=
USER_DB_NAME=
USER_DB_USER=
USER_DB_PASSWORD=

# --- OLLAMA ---
OLLAMA_MODEL=
OLLAMA_HOST=