# --- Postgres (chatbot) ---
POSTGRES_CHAT_DB=chatbot_db
POSTGRES_CHAT_USER=chatbot_user
POSTGRES_CHAT_PASSWORD=chatbot_pass123

# --- Postgres (User) ---
POSTGRES_USER_DB=user_db
POSTGRES_USER=user_admin
POSTGRES_USER_PASSWORD=user_pass123

# --- Postgres (Keycloak) ---
KEYCLOAK_HOST=localhost
KEYCLOAK_DB=keycloak_db
KEYCLOAK_DB_USER=keycloak_user
KEYCLOAK_DB_PASSWORD=keycloak_pass123

# --- Keycloak admin ---
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin

# --- Spring Boot ---
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres_pass123
DB_CHAT_NAME=chatbot_db
DB_USER_NAME=user_db

# --- OLLAMA ---
OLLAMA_MODEL=llama3.2:3b
OLLAMA_HOST=http://localhost:11434